@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Programa con diferentes tipos de encadenamientos para ofrecer información de las razas de perros gigantes.
    </p>
    <br />
    <p>Seleccione el tipo de encadenamiento en el menú superior.</p>
</div>
